<!doctype html>

<html>
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="/assets/css/default.css">
		<link rel="stylesheet" href="/assets/css/post.css">
	</head>
	{% include warning.html %}
	<body>
		<h2> INTERVOLVE.ORG </h2>
		{% include navbar.html %}
		<p></p>
		<h1>{{ page.title }}</h1>
		<p class="tag"> By {{ page.author }}, {{ page.date | date: "%b %d %Y" }} </p>
		<div>

			<div class="post-header">
				<img src="{{ page.image }}" class="post-image">


				<!-- <p class="tag"> Created: &ensp;{{ page.date | date: "%Y-%m-%d" }} </p> -->
				<!--<p> Last Updated {{ "now" | date: "%Y-%m-%d %H:%M" }} </p>-->
			</div>
			<hr>
			<div class="post">

				{{ content }}

			</div>

			<hr>

			<h4> Post categories </h4>
			<ul>
				{% for category in page.categories %}
					<li>{{ category }}</li>
				{% endfor %}
			</ul>

		</div>
	</body>
</html>
