<link rel="stylesheet" href="/assets/css/navbar.css">
<ul class="navbar">
  <li class="navbar"><a class="navbar" href="/">Home</a></li>
  <li class="navbar"><a class="navbar" href="/servers">Servers</a></li>
<!--  <li class="navbar"><a class="navbar" href="">Projects</a></li> -->
  <li class="navbar"><a class="navbar" href="/blogs">Blogs</a></li>
  <li class="navbar"><a class="navbar" href="/categories">Categories</a></li>
  <li class="navbar"><a class="navbar" href="/how-to-contribute">How to Contribute</a></li>
</ul>
