<!doctype html>

<html>
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="https://mrghorm.com/assets/css/default.css">
	</head>
	<body>

		<h1> mrghorm.com </h1>
		{% include navbar.html %}
		<p></p>
		<h1>{{ page.title }}</h1>
		<div>

			<img src="https://mrghorm.com{{ page.image }}" class="post-image">

			<p class="tag"> Author: &emsp;{{ page.author }} </p>
			<p class="tag"> Created: &ensp;{{ page.date | date: "%Y-%m-%d" }} </p>
			<!--<p> Last Updated {{ "now" | date: "%Y-%m-%d %H:%M" }} </p>-->

			<hr>

			{{ content }}
		</div>
	</body>
</html>
