h5 {
  margin: 0;
}

/*****  HEADER AREA  *****/

/* Float four columns side by side */
.column {
  float: left;
  width: 50%;
  padding: 0 5px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 10px -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #505050;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

img.header-image {
	width:125px;
	height:125px;
}


/******  CONTENT AREA  *****/

.content-column-left {
	float: left;
	width: 75%;
	padding: 0 5px;
}

.sidebar-column {
	float: left;
	width: 25%;
	padding: 0 5px;

}

.sidebar-content {
	margin-top: 10px;
	border-style: solid;
	border-width: 2px;
	border-color: #707070;
}

.content-row {
	margin: 0 -5px;
}

.content-row:after {
	content: "";
	display: table;
	clear: both;
}


/*****  POST LISTINGS *****/

li.post-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 10px;
  margin-bottom: 10px;
  text-align: left;
  background-color: #505050;
}

.content-list {
	margin-left: -40px;
}

a.post-card {
	text-decoration: none;
}

img.post-card {
	max-width:100px;
	float:left;
	padding-right:10px;
	padding-left:5px;
}

h2.post-card{
	text-shadow: 0 0;
}

p.post-card {
	text-shadow: 0 0;
}

p.excerpt > p {
	font-size: 15px;
	color: red;
}

/******  POST TAGS  *****/

.post-image {
	max-height: 200px;
}

p.tags {
	color: #9f9f9f;
	font-size: 16px;
	line-height: 0.3;
	text-shadow: 0 0;
	padding-top: 10px;
	font-style: italic;
}
