/***** POSTS  *****/

@import "highlight.css";

div.post {
	font-size: 18px;
	text-shadow: 1.5px 1.5px 5px black;
}

/******  POST TAGS  *****/

.post-image {
	max-height: 200px;
}

p.tag {
	color: #9f9f9f;
	font-size: 16px;
	line-height: 2px;
	text-shadow: 0 0;
}
code {
	background: #555;
	padding-top: -1px;
	padding-bottom: -1px;
	padding-left: 3px;
	padding-right: 3px;
	border: 0.2px solid #555;
	border-radius: 5px;
	font-family: "Courier New";
	font-size:15.5px;
	text-shadow: 0;
}
pre {
	width: auto;
	overflow-x: scroll;
	display: block;
	border: 2px solid #ddd;
	border-radius: 5px;
	background: #555;
}

blockquote {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
  padding-left: 15px;
  border-left: 3px solid #ddd;
}
