/***** POSTS  *****/

div.post {
	font-size: 18px;
	text-shadow: 1.5px 1.5px 5px black;
}

/******  POST TAGS  *****/

.post-image {
	max-height: 200px;
}

p.tag {
	color: #9f9f9f;
	font-size: 16px;
	line-height: 0.3;
	text-shadow: 0 0;
}
code {
	width: auto;
	overflow-x: scroll;
	display: block;
	border: 2px solid #ddd;
	padding: 5px;
	background: #555;
	font-family: "Courier New";
	color: #ddd;
	max-height: 500px;
}
